## American Community Survey 2016 (Millennials and Ethnicity by ZIP)

In [1]:
import os
import pandas as pd
import numpy as np
import requests
import copy
from uszipcode import ZipcodeSearchEngine
from census import Census
from pprint import pprint

# American Community Survey API Key
from config import acs_key

In [2]:
acs5_api_root = "https://api.census.gov/data/2016/acs/acs5?"
acs5_variables = "B19013_001E,\
B01003_001E,\
B01002_001E,\
B01001_002E,\
B01001_010E,\
B01001_011E,\
B01001_012E,\
B01001_026E,\
B01001_034E,\
B01001_035E,\
B01001_036E,\
B02001_001E,\
B02001_002E,\
B02001_003E,\
B02001_004E,\
B02001_005E,\
B02001_006E"

#Query examples: https://api.census.gov/data/2016/acs/acs5/examples.html

#If querying by ZCTA, use the lines below:
geo_unit = "zip%20code%20tabulation%20area:*"
predicates = f"&for={geo_unit}"

#If querying by block group, use the lines below (ignore - using ZIP)
#geo_unit = "block%20group:*"
#state_id = "17"
#county_id = "031"
#tract_id = "*"
#predicates = f"&for={geo_unit}\
#&in=state:{state_id}\
#&in=county:{county_id}\
#&in=tract:{tract_id}"


request_url = f"{acs5_api_root}\
get=NAME,{acs5_variables}\
{predicates}\
&key={acs_key}"

print(request_url)

https://api.census.gov/data/2016/acs/acs5?get=NAME,B19013_001E,B01003_001E,B01002_001E,B01001_002E,B01001_010E,B01001_011E,B01001_012E,B01001_026E,B01001_034E,B01001_035E,B01001_036E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E&for=zip%20code%20tabulation%20area:*&key=86ed69bb313729e12eb61b2d3445f49038b85726

In [3]:
acs5_response = requests.get(request_url)
acs5_json = acs5_response.json()

In [4]:
# Convert to DataFrame
acs5_header = acs5_json[0]
acs5_df = pd.DataFrame(acs5_json[1:], columns=acs5_header)

# Column Reordering
acs5_df = acs5_df.rename(columns={"B19013_001E": "Median HH Income (12 mo)",
                                   "B01003_001E": "Total Population",
                                   "B01002_001E": "Median Age",
                                   "B01001_002E": "Total Pop (M)",
                                   "B01001_010E": "22-24 yo (M)",
                                   "B01001_011E": "25-29 yo (M)",
                                   "B01001_012E": "30-34 yo (M)",
                                   "B01001_026E": "Total Pop (F)",
                                   "B01001_034E": "22-24 yo (F)",
                                   "B01001_035E": "25-29 yo (F)",
                                   "B01001_036E": "30-34 yo (F)",
                                   "B02001_001E": "Total Pop (Race)",
                                   "B02001_002E": "Total Pop (Race-W)",
                                   "B02001_003E": "Total Pop (Race-B)",
                                   "B02001_004E": "Total Pop (Race-N)",
                                   "B02001_005E": "Total Pop (Race-A)",
                                   "B02001_006E": "Total Pop (Race-H)"
                                })

In [5]:
for c in acs5_df.loc[:, 'Median HH Income (12 mo)':'Total Pop (Race-H)']:
    acs5_df[c] = pd.to_numeric(acs5_df[c], errors='ignore')

In [6]:
acs5_df.head()

,NAME,Median HH Income (12 mo),Total Population,Median Age,Total Pop (M),22-24 yo (M),25-29 yo (M),30-34 yo (M),Total Pop (F),22-24 yo (F),25-29 yo (F),30-34 yo (F),Total Pop (Race),Total Pop (Race-W),Total Pop (Race-B),Total Pop (Race-N),Total Pop (Race-A),Total Pop (Race-H),zip code tabulation area
0,ZCTA5 01001,56714,17423,45.0,8059,396,415,583,9364,307,554,619,17423,15974,256,5,703,24,01001
1,ZCTA5 01002,48923,29970,23.2,14536,2104,1019,568,15434,1588,878,615,29970,23459,1711,140,3502,17,01002
2,ZCTA5 01003,2499,11296,19.9,5694,472,70,1,5602,456,9,0,11296,8698,660,30,1538,0,01003
3,ZCTA5 01005,70568,5228,44.1,2798,22,142,158,2430,132,82,47,5228,5063,105,0,32,18,01005
4,ZCTA5 01007,80502,14888,42.5,7224,413,216,323,7664,192,336,327,14888,13906,125,0,443,0,01007

In [7]:
#--------------age--------------#

#combine acs5 age group columns into one millenial group column per sex

    #males who are 22-34 yo
acs5_df['22 - 34 yo (M)'] = acs5_df["22-24 yo (M)"] + acs5_df["25-29 yo (M)"] + acs5_df["30-34 yo (M)"]

    #females who are 22-34 yo
acs5_df['22 - 34 yo (F)'] = acs5_df["22-24 yo (F)"] + acs5_df["25-29 yo (F)"] + acs5_df["30-34 yo (F)"]

    #total population that is 22-34 yo
acs5_df['22 - 34 yo (Total)'] = acs5_df['22 - 34 yo (M)'] + acs5_df['22 - 34 yo (F)']

    #% males who are 22-34 yo
acs5_df['22 - 34 yo (% Pop M)'] = acs5_df['22 - 34 yo (M)']/acs5_df['Total Pop (M)']

    #% females who are 22-34 yo
acs5_df['22 - 34 yo (% Pop F)'] = acs5_df['22 - 34 yo (F)']/acs5_df['Total Pop (F)']

    #% population that is 22-34 yo
acs5_df['22 - 34 yo (% Total)'] = acs5_df['22 - 34 yo (Total)']/acs5_df['Total Population']

    #% population that is 22-34 yo
acs5_df['22 - 34 yo (% Total)'] = acs5_df['22 - 34 yo (Total)']/acs5_df['Total Population']

#--------------race--------------#

    #% population that is White
acs5_df['Race-W (% Total)'] = acs5_df['Total Pop (Race-W)']/acs5_df['Total Population']

    #% population that is Black
acs5_df['Race-B (% Total)'] = acs5_df['Total Pop (Race-B)']/acs5_df['Total Population']

    #% population that is Native American
acs5_df['Race-N (% Total)'] = acs5_df['Total Pop (Race-N)']/acs5_df['Total Population']

    #% population that is Asian
acs5_df['Race-A (% Total)'] = acs5_df['Total Pop (Race-A)']/acs5_df['Total Population']

    #% population that is Native Hawaiian/Pacific Islander 
acs5_df['Race-H (% Total)'] = acs5_df['Total Pop (Race-H)']/acs5_df['Total Population']

acs5_df.head()

,NAME,Median HH Income (12 mo),Total Population,Median Age,Total Pop (M),22-24 yo (M),25-29 yo (M),30-34 yo (M),Total Pop (F),22-24 yo (F),...,22 - 34 yo (F),22 - 34 yo (Total),22 - 34 yo (% Pop M),22 - 34 yo (% Pop F),22 - 34 yo (% Total),Race-W (% Total),Race-B (% Total),Race-N (% Total),Race-A (% Total),Race-H (% Total)
0,ZCTA5 01001,56714,17423,45.0,8059,396,415,583,9364,307,...,1480,2874,0.172974,0.158052,0.164954,0.916834,0.014693,0.000287,0.040349,0.001377
1,ZCTA5 01002,48923,29970,23.2,14536,2104,1019,568,15434,1588,...,3081,6772,0.253921,0.199624,0.225959,0.782749,0.057090,0.004671,0.116850,0.000567
2,ZCTA5 01003,2499,11296,19.9,5694,472,70,1,5602,456,...,465,1008,0.095364,0.083006,0.089235,0.770007,0.058428,0.002656,0.136154,0.000000
3,ZCTA5 01005,70568,5228,44.1,2798,22,142,158,2430,132,...,261,583,0.115082,0.107407,0.111515,0.968439,0.020084,0.000000,0.006121,0.003443
4,ZCTA5 01007,80502,14888,42.5,7224,413,216,323,7664,192,...,855,1807,0.131783,0.111561,0.121373,0.934041,0.008396,0.000000,0.029756,0.000000

## Beggars Delivery ZIP Codes

In [59]:
#get ZIP codes eligible for delivery; examine/clean the ZIP code list
delv_zip = pd.read_csv("Resources\zip_code_raw.csv")
delv_zip_df = pd.DataFrame(delv_zip)

In [60]:
#replace empty strings and white space only values with NaN values
delv_zip_df = delv_zip_df.replace(r'^\s*$', np.nan, regex=True)

#drop rows which have NA values for either StoreID or Zip
delv_zip_df = delv_zip_df[(delv_zip_df.StoreID.notna()) & (delv_zip_df.Zip.notna())]
delv_zip_df.groupby(['StoreID']).count()

#drop duplicate rows (StoreID/Zip combo)
delv_zip_df = delv_zip_df.drop_duplicates(['StoreID','Zip'])
delv_zip_df.groupby(['StoreID'])['Zip'].count()

StoreID
122      45
123       8
10465    21
10584    20
10674    30
10688    18
10766    30
10783    28
11409    44
11467    47
11549    10
11834    27
12086     8
12168    20
12294    27
12340    38
12359    98
12601    50
12896    12
13210    39
13289     6
13604    70
14383    32
Name: Zip, dtype: int64

In [61]:
#reset index: currently each row in the dataframe is a unique StoreID/Zip combo
delv_zip_df = delv_zip_df.reset_index(drop=True)
delv_zip_df.head()

   StoreID            City State    Zip
0      122         CHICAGO    IL  60655
1      122     BLUE ISLAND    IL  60452
2      122         CHICAGO    IL  60803
3      122  EVERGREEN PARK   NaN  60805
4      122     BLUE ISLAND    IL  60406

In [62]:
#grouping dataframe to get how many stores serve this Zip
#Is this interpretation correct? Does 60452 actually get delivered to by 10 stores?
#what is Zip = 60, 604
group_zip_df = delv_zip_df.groupby(['Zip']).count().sort_values(by='StoreID', ascending=False)
group_zip_df = pd.DataFrame(group_zip_df).reset_index()
group_zip_df.head()

     Zip  StoreID  City  State
0  60452       10    10     10
1  60617        9     9      9
2  60           9     9      8
3  60453        9     9      9
4  60406        9     9      9

In [63]:
#function used to validate values in Zip column.
def valid_zip_test(list):
    
    #build a new list of validated ZIP codes
    valid_zip_list = []
    
    #for every item in the input list
    for item in list:
        #temporary string to store what may or may not be a valid ZIP code
        temp_zip = ''
        
        #for every character in the current item
        for char in item:
            try:
                #if this character is of the integer type, add it to the temp_zip string
                if isinstance(int(char), int):
                    temp_zip += char
            except:
                break
        
        #if the temp_zip string is made of 5 integer-type characters, it's a valid ZIP code. Add it to the valid ZIP list.
        if len(temp_zip) == 5:
            valid_zip_list.append(temp_zip)
    return valid_zip_list

In [64]:
group_zip_list = group_zip_df['Zip'].values.tolist()
group_zip_list[0:5]

['60452', '60617', '60   ', '60453', '60406']

In [65]:
valid_zip_list = valid_zip_test(group_zip_list)
print("The delivery file has " + str(len(valid_zip_list)) + " ZIP codes which are made up of 5 numeric characters.")

The delivery file has 327 ZIP codes which are made up of 5 numeric characters.

In [94]:
valid_zip_list

['60452',
 '60617',
 '60453',
 '60406',
 '60430',
 '60443',
 '60628',
 '60411',
 '60643',
 '60620',
 '60429',
 '60604',
 '60475',
 '60827',
 '60459',
 '60469',
 '60609',
 '60445',
 '60477',
 '60473',
 '60409',
 '60441',
 '60652',
 '60487',
 '60426',
 '46324',
 '60612',
 '60433',
 '60464',
 '60606',
 '60419',
 '60619',
 '60463',
 '60651',
 '60805',
 '60623',
 '60462',
 '60803',
 '60629',
 '60448',
 '60621',
 '60455',
 '60633',
 '60642',
 '60655',
 '46410',
 '60499',
 '60515',
 '60446',
 '60517',
 '46394',
 '60447',
 '60449',
 '60491',
 '60490',
 '60478',
 '60451',
 '60476',
 '60439',
 '60472',
 '60432',
 '60436',
 '60466',
 '60465',
 '60525',
 '46323',
 '46375',
 '46303',
 '60428',
 '60613',
 '60614',
 '60615',
 '60616',
 '60624',
 '60625',
 '60627',
 '60632',
 '60644',
 '60647',
 '60649',
 '60653',
 '60661',
 '60403',
 '60608',
 '60611',
 '60607',
 '46321',
 '60546',
 '60425',
 '60423',
 '60601',
 '60602',
 '60603',
 '46322',
 '60440',
 '46320',
 '46319',
 '46311',
 '60605',
 '46307',
 '60435',
 '60422',
 '60413',
 '60417',
 '60410',
 '60431',
 '60404',
 '60427',
 '60438',
 '60532',
 '60442',
 '60456',
 '60804',
 '60654',
 '60641',
 '60638',
 '60637',
 '60636',
 '60622',
 '60618',
 '60610',
 '60586',
 '60563',
 '60556',
 '60544',
 '60534',
 '60523',
 '60501',
 '60482',
 '60471',
 '60467',
 '60461',
 '60458',
 '60457',
 '60402',
 '60155',
 '46342',
 '46373',
 '46310',
 '46312',
 '40411',
 '46327',
 '60103',
 '46356',
 '60181',
 '21901',
 '60626',
 '22193',
 '60631',
 '21028',
 '20419',
 '19112',
 '19067',
 '27377',
 '60630',
 '60332',
 '15238',
 '08870',
 '60635',
 '27703',
 '07974',
 '07920',
 '60639',
 '60640',
 '07054',
 '08536',
 '28202',
 '60565',
 '60585',
 '46353',
 '60588',
 '60599',
 '46341',
 '46329',
 '46307',
 '46306',
 '46285',
 '30144',
 '46221',
 '46033',
 '46017',
 '43673',
 '43612',
 '40638',
 '40611',
 '40417',
 '60645',
 '02210',
 '00000',
 '02130',
 '60914',
 '60915',
 '60944',
 '60950',
 '60951',
 '60964',
 '61054',
 '61516',
 '62324',
 '62411',
 '63011',
 '63104',
 '02109',
 '64031',
 '64411',
 '66037',
 '66666',
 '69061',
 '78735',
 '90057',
 '90061',
 '60905',
 '60904',
 '60901',
 '60657',
 '60659',
 '60669',
 '60674',
 '60682',
 '60694',
 '60699',
 '60707',
 '60806',
 '60808',
 '60823',
 '60856',
 '60885',
 '60564',
 '46362',
 '60561',
 '60157',
 '60156',
 '60434',
 '60154',
 '60153',
 '60437',
 '60152',
 '60150',
 '60148',
 '60146',
 '60444',
 '60142',
 '60141',
 '60132',
 '60131',
 '60130',
 '60124',
 '60108',
 '60107',
 '60106',
 '60104',
 '60160',
 '60162',
 '60201',
 '60305',
 '60400',
 '60401',
 '60304',
 '60303',
 '60302',
 '60405',
 '60301',
 '60407',
 '60408',
 '60226',
 '60163',
 '60412',
 '60414',
 '60415',
 '60189',
 '60418',
 '60421',
 '60175',
 '60166',
 '60165',
 '60164',
 '60460',
 '60559',
 '46385',
 '60514',
 '46406',
 '60516',
 '46403',
 '60521',
 '46402',
 '46392',
 '60526',
 '60527',
 '60531',
 '60535',
 '60506',
 '60537',
 '60538',
 '60540',
 '60543',
 '46371',
 '60549',
 '60550',
 '60552',
 '60555',
 '60513',
 '60504',
 '60089',
 '55413',
 '60073',
 '60062',
 '60056',
 '60047',
 '60045',
 '60018',
 '60017',
 '60015',
 '60010',
 '55555',
 '55346',
 '46408',
 '49002',
 '60480',
 '47375',
 '60483',
 '60484',
 '46504',
 '46493',
 '60492',
 '60498',
 '46417',
 '91011']

## Add "Beggars Pizza Delivery ZIP Code" Indicator to American Community Survey 2016 DataFrame

In [96]:
#trim down what's in the ACS5 data since some columns are just used for calculations
acs5_df_2 = acs5_df.loc[:,['zip code tabulation area', 'Median HH Income (12 mo)', 'Total Population', 'Median Age', '22 - 34 yo (% Pop M)','22 - 34 yo (% Pop F)','22 - 34 yo (% Total)','Race-W (% Total)', 'Race-B (% Total)', 'Race-N (% Total)', 'Race-A (% Total)', 'Race-H (% Total)']]
acs5_df_2 = acs5_df_2.rename(columns={'zip code tabulation area': 'ZCTA (~ZIP)'})
acs5_df_2.head()

,ZCTA (~ZIP),Median HH Income (12 mo),Total Population,Median Age,22 - 34 yo (% Pop M),22 - 34 yo (% Pop F),22 - 34 yo (% Total),Race-W (% Total),Race-B (% Total),Race-N (% Total),Race-A (% Total),Race-H (% Total)
0,01001,56714,17423,45.0,0.172974,0.158052,0.164954,0.916834,0.014693,0.000287,0.040349,0.001377
1,01002,48923,29970,23.2,0.253921,0.199624,0.225959,0.782749,0.057090,0.004671,0.116850,0.000567
2,01003,2499,11296,19.9,0.095364,0.083006,0.089235,0.770007,0.058428,0.002656,0.136154,0.000000
3,01005,70568,5228,44.1,0.115082,0.107407,0.111515,0.968439,0.020084,0.000000,0.006121,0.003443
4,01007,80502,14888,42.5,0.131783,0.111561,0.121373,0.934041,0.008396,0.000000,0.029756,0.000000

In [103]:
#*-----saving off csv copy of aggregated ACS data first-----*
acs5_df_2.to_csv("Resources\\acs5_2016_census_pop_char_by_zip.csv",index=False)

In [111]:
#have to read the csv as dtype=str or else the leading zeros for ZIP codes drop out
export = pd.read_csv("Resources\\acs5_2016_census_pop_char_by_zip.csv", dtype=str)
export.head()

,ZCTA (~ZIP),Median HH Income (12 mo),Total Population,Median Age,22 - 34 yo (% Pop M),22 - 34 yo (% Pop F),22 - 34 yo (% Total),Race-W (% Total),Race-B (% Total),Race-N (% Total),Race-A (% Total),Race-H (% Total)
0,01001,56714,17423,45.0,0.17297431443107086,0.15805211448099102,0.1649543706594731,0.9168340699075934,0.014693221603627389,0.0002869769844458474,0.04034896401308615,0.0013774895253400676
1,01002,48923,29970,23.2,0.25392129884424874,0.1996242062977841,0.2259592926259593,0.7827494160827494,0.057090423757090426,0.004671338004671338,0.11685018351685018,0.000567233900567234
2,01003,2499,11296,19.9,0.09536354056902002,0.08300606926097823,0.08923512747875353,0.7700070821529745,0.058427762039660054,0.0026558073654390935,0.1361543909348442,0.0
3,01005,70568,5228,44.1,0.11508220157255182,0.10740740740740741,0.11151491966335118,0.9684391736801836,0.02008416220351951,0.0,0.00612088752869166,0.0034429992348890587
4,01007,80502,14888,42.5,0.13178294573643412,0.11156054279749478,0.12137291778613649,0.9340408382590005,0.008396023643202579,0.0,0.02975550779150994,0.0

## *------- the analysis below isn't working as expected: "is in"?--------*

In [16]:
#add indicator column - does Beggars Pizza deliver to this ACS ZIP?
acs5_df_2['BP Delivers'] = acs5_df_2['ZCTA (~ZIP)'].isin(valid_zip_list)

In [17]:
acs5_df_2.head()

,ZCTA (~ZIP),Median HH Income (12 mo),Total Population,Median Age,22 - 34 yo (% Pop M),22 - 34 yo (% Pop F),22 - 34 yo (% Total),Race-W (% Total),Race-B (% Total),Race-N (% Total),Race-A (% Total),Race-H (% Total),BP Delivers
0,01001,56714,17423,45.0,0.172974,0.158052,0.164954,0.916834,0.014693,0.000287,0.040349,0.001377,False
1,01002,48923,29970,23.2,0.253921,0.199624,0.225959,0.782749,0.057090,0.004671,0.116850,0.000567,False
2,01003,2499,11296,19.9,0.095364,0.083006,0.089235,0.770007,0.058428,0.002656,0.136154,0.000000,False
3,01005,70568,5228,44.1,0.115082,0.107407,0.111515,0.968439,0.020084,0.000000,0.006121,0.003443,False
4,01007,80502,14888,42.5,0.131783,0.111561,0.121373,0.934041,0.008396,0.000000,0.029756,0.000000,False

In [18]:
#dataframe that only has rows for ZIP codes from ACS 2016 data which Beggars Pizza delivers to
acs5_df_3a = acs5_df_2.loc[acs5_df_2['BP Delivers'] == True]
acs5_df_3a = acs5_df_3a.reset_index(drop=True)
len(acs5_df_3a)

268

In [20]:
acs5_df_3 = acs5_df_3a[(acs5_df_3a['Median HH Income (12 mo)'] != -666666666) & (acs5_df_3a['Total Population'] != 0)]
len(acs5_df_3)

265

## Store Locations (this part works)

In [21]:
#get ZIP codes eligible for delivery; examine/clean the ZIP code list
store_locs = pd.read_csv("Resources\projectbeggarsstart_geo.csv")
store_locs_df = pd.DataFrame(store_locs)

In [22]:
#for each store, use its latitude and longitude values to find its ZIP code
search = ZipcodeSearchEngine()
store_ZIPs = []
for row_index, row in store_locs_df.iterrows():
    zipcode = search.by_coordinate(row.Latitude,row.Longitude, returns=1)
    store_ZIPs.append(zipcode[0]['Zipcode'])
store_locs_df['ZIP'] = store_ZIPs
store_locs_df.head()

,SQL_ID,Address,City,State,Latitude,Longitude,ZIP
0,122,12700 S Kedzie,Blue Island,IL,41.661707,-87.700403,60406
1,123,12660 S Western,Blue Island,IL,41.663078,-87.680465,60406
2,10465,3277 W 115th St,Merrionette Park,IL,41.683913,-87.701136,60655
3,11834,22149 Governors Hwy,Richton Park,IL,41.485875,-87.712412,60471
4,10674,3524 Ridge Road,Lansing,IL,41.564555,-87.531317,60438

### Add StoreID to ACS dataframe (acs5_df_3, ZIP codes which are delivered to)
*can't assume that a ZIP code is delivered exclusively to by one store; i.e. multiple stores can deliver to the same ZIP code

In [32]:
#acs5_df_3 limited to BP delivery ZIPs 
acs5_df_3 = acs5_df_2b.loc[acs5_df_2b['BP Delivers'] == True]
acs5_df_3 = acs5_df_3.reset_index(drop=True)
len(acs5_df_3)

268

In [66]:
#make unique ID for each StoreID_Zip combo in delivery file
delv_zip_df_2 = delv_zip_df
delv_zip_df_2['StoreID'] = delv_zip_df_2['StoreID'].astype(str)
delv_zip_df_2['StoreID_Zip'] = delv_zip_df_2['StoreID'] + "_" + delv_zip_df_2['Zip']
delv_zip_df_2.head()
len(delv_zip_df_2)

728

In [93]:
#making store column for just the ACS ZIP codes that matched "BP Delivers" == True (268)
#adding boolean value if this store delivers to this ZIP code

In [35]:
#--------there's something in here that isn't working the way I think it is----------#
#for each acs5_df_3 column from 122 to the end
for c_index in acs5_df_3.loc[:, '122':'14581']:
    
    #for each row in ACS5_df_3, put True if there's a match in delv_zip_df ZCTA (~ZIP)' and storeID both match 
    for r_index, row in acs5_df_3.iterrows():
        StoreID_Zip = c_index + "_" + acs5_df_3['ZCTA (~ZIP)']
        acs5_df_3[c_index] = delv_zip_df_2['StoreID_Zip'].isin(c_index + "_" + acs5_df_3['ZCTA (~ZIP)'])

In [49]:
#acs5_df_4 is a dataframe where each row corresponds with 1 ZIP code.
#The ZIP codes in this dataframe are limited to the ones which Beggars Pizza delivers to.
#The delivery ZIP code list has more entries than acs5_df_3
#difference may be because those ZIPs no longer exist or there is some funny data entry
acs5_df_4 = acs5_df_3
acs5_df_4

,ZCTA (~ZIP),Median HH Income (12 mo),Total Population,Median Age,22 - 34 yo (% Pop M),22 - 34 yo (% Pop F),22 - 34 yo (% Total),Race-W (% Total),Race-B (% Total),Race-N (% Total),...,11549,12168,12359,12601,13289,13210,11409,10584,14593,14581
0,02109,117344,4015,32.9,0.474126,0.433295,0.456289,0.870984,0.033624,0.000000,...,False,False,False,False,False,False,False,False,False,False
1,02130,79419,39316,33.9,0.329697,0.324037,0.326610,0.654136,0.119442,0.002416,...,False,False,False,False,False,False,False,False,False,False
2,02210,155313,2461,35.5,0.429275,0.419231,0.425030,0.889882,0.034945,0.000000,...,False,False,False,False,False,False,False,False,False,False
3,07054,83936,29555,40.4,0.197418,0.197374,0.197395,0.541803,0.049332,0.002504,...,False,False,False,False,False,False,False,False,False,False
4,07920,132417,26949,44.0,0.081701,0.087157,0.084604,0.778322,0.016810,0.000000,...,False,False,False,False,False,False,False,False,False,False
5,07974,145607,12110,40.1,0.111888,0.110092,0.110983,0.851858,0.007432,0.002973,...,False,False,False,False,False,False,False,False,False,False
6,08536,95533,20180,34.8,0.232041,0.219203,0.225322,0.333944,0.070466,0.009613,...,False,False,False,False,False,False,False,False,False,False
7,15238,84038,13329,49.8,0.095298,0.097848,0.096631,0.876510,0.012529,0.000000,...,False,False,False,False,False,False,False,False,False,False
8,19067,100455,51628,43.1,0.145831,0.133045,0.139362,0.838247,0.069865,0.000407,...,False,False,False,False,False,False,False,False,False,False
9,19112,-666666666,0,-666666666.0,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
10,21028,105234,3043,48.1,0.149455,0.137466,0.143608,0.897470,0.028590,0.000000,...,False,False,False,False,False,False,False,False,False,False
11,21901,70983,18326,39.0,0.162123,0.166047,0.164138,0.906144,0.054840,0.006766,...,False,False,False,False,False,False,False,False,False,False
12,22193,93470,82290,33.5,0.186939,0.169097,0.178005,0.494252,0.261575,0.004849,...,False,False,False,False,False,False,False,False,False,False
13,27377,57519,7562,40.2,0.238728,0.170648,0.201798,0.704576,0.249537,0.007141,...,False,False,False,False,False,False,False,False,False,False
14,27703,57412,47381,33.6,0.206308,0.237871,0.222895,0.387497,0.492138,0.008843,...,False,False,False,False,False,False,False,False,False,False
15,28202,84688,11993,30.3,0.525167,0.439901,0.487785,0.686400,0.216043,0.004836,...,False,False,False,False,False,False,False,False,False,False
16,30144,62411,54078,30.6,0.210990,0.194241,0.202504,0.675913,0.210400,0.003107,...,False,False,False,False,False,False,False,False,False,False
17,43612,40996,29905,33.3,0.199104,0.219250,0.209330,0.766895,0.156027,0.000669,...,False,False,False,False,False,False,False,False,False,False
18,46017,48961,5800,44.8,0.142665,0.134371,0.138621,0.971379,0.012759,0.000000,...,False,False,False,False,False,False,False,False,False,False
19,46033,119906,37873,40.4,0.104839,0.105879,0.105379,0.907190,0.018985,0.000000,...,False,False,False,False,False,False,False,False,False,False
20,46221,43395,26177,33.2,0.192108,0.240580,0.217023,0.883944,0.049968,0.007831,...,False,False,False,False,False,False,False,False,False,False
21,46303,64835,14375,36.1,0.167616,0.146240,0.156939,0.923896,0.003896,0.001391,...,False,False,False,False,False,False,False,False,False,False
22,46307,73704,61385,40.2,0.163194,0.136648,0.149662,0.864478,0.046477,0.000521,...,False,False,False,False,False,True,False,False,False,False
23,46310,53523,14217,39.2,0.153329,0.155340,0.154393,0.955406,0.010691,0.000000,...,False,False,False,False,False,True,False,False,False,False
24,46311,77292,21708,42.9,0.148611,0.158739,0.153584,0.847245,0.035148,0.003870,...,False,False,False,False,False,True,False,False,False,False
25,46312,27264,28961,31.3,0.177450,0.192902,0.185629,0.268844,0.382653,0.003453,...,False,False,False,False,False,True,False,False,False,False
26,46319,55935,17924,36.3,0.184133,0.220747,0.202131,0.739846,0.138808,0.002343,...,False,False,False,False,False,True,False,False,False,False
27,46320,30836,14822,30.5,0.207709,0.180823,0.193294,0.280124,0.457563,0.001687,...,False,False,False,False,False,True,False,False,False,False
28,46321,70894,23103,44.1,0.152459,0.135651,0.143964,0.821062,0.023936,0.005324,...,False,False,False,False,False,True,False,False,False,False
29,46322,62240,23107,42.3,0.162577,0.164185,0.163414,0.843684,0.036482,0.003808,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,60649,26246,45218,38.4,0.162722,0.181773,0.173692,0.037618,0.930736,0.003273,...,False,False,False,False,False,False,False,False,False,False
239,60651,34397,61759,33.3,0.202792,0.188769,0.195308,0.140352,0.564565,0.000955,...,False,False,False,False,False,False,False,False,False,False
240,60652,64574,43228,35.3,0.177516,0.158047,0.167553,0.268668,0.474785,0.002845,...,False,False,False,False,False,False,False,False,False,False
241,60653,26176,31045,36.1,0.146121,0.177555,0.164084,0.051248,0.911354,0.001965,...,False,False,False,False,False,False,False,False,False,False
242,60654,93848,17328,32.4,0.455611,0.536219,0.496133,0.776258,0.053497,0.002943,...,False,False,False,False,False,False,False,False,False,False
243,60655,91102,28741,37.9,0.157121,0.149260,0.153057,0.892418,0.064820,0.001044,...,False,False,False,False,False,False,False,False,False,False
244,60657,84319,70105,30.9,0.445789,0.525077,0.486199,0.866044,0.026346,0.001498,...,False,False,False,False,False,False,False,False,False,False
245,60659,51527,38995,34.1,0.243302,0.215249,0.229696,0.550891,0.083267,0.003206,...,False,False,False,False,False,False,False,False,False,False
246,60661,101829,9343,31.4,0.530658,0.602721,0.565236,0.630097,0.044525,0.000000,...,False,False,False,False,False,False,False,False,False,False
247,60707,55513,43451,39.2,0.184184,0.162612,0.172838,0.718004,0.100343,0.007204,...,False,False,False,False,False,False,False,False,False,False
248,60803,52191,22762,33.7,0.230932,0.193727,0.211493,0.687901,0.171953,0.001845,...,False,False,False,False,False,False,False,False,False,False
249,60804,42345,83972,28.7,0.208225,0.216514,0.212285,0.443934,0.039918,0.008503,...,False,False,False,False,False,False,False,False,False,False
250,60805,65554,19849,40.0,0.154552,0.124427,0.138647,0.709154,0.237846,0.000000,...,False,False,False,False,False,False,False,False,False,False
251,60827,30587,28864,31.9,0.165276,0.186251,0.176587,0.048815,0.916851,0.000693,...,False,False,False,False,False,False,False,False,False,False
252,60901,42391,36150,36.2,0.182075,0.167569,0.174661,0.644869,0.296459,0.004398,...,False,False,False,False,False,False,False,False,False,False
253,60914,65334,29186,34.3,0.171837,0.157100,0.164017,0.857809,0.093881,0.001645,...,False,False,False,False,False,False,False,False,False,False
254,60915,54855,10315,33.8,0.236072,0.237065,0.236549,0.920213,0.028405,0.000000,...,False,False,False,False,False,False,False,False,False,False
255,60950,63569,11865,43.3,0.106577,0.141196,0.123894,0.945133,0.022672,0.000000,...,False,False,False,False,False,False,False,False,False,False
256,60951,65250,760,47.1,0.111663,0.106443,0.109211,0.977632,0.019737,0.000000,...,False,False,False,False,False,False,False,False,False,False
257,60964,55938,5209,41.3,0.137255,0.132005,0.134575,0.851219,0.110962,0.001152,...,False,False,False,False,False,False,False,False,False,False
258,61054,41959,3868,45.6,0.137220,0.160829,0.150465,0.988108,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,False
259,61516,63333,730,40.8,0.189041,0.153425,0.171233,0.978082,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,False
260,62324,35000,1066,41.1,0.177049,0.125000,0.154784,0.990619,0.000000,0.009381,...,False,False,False,False,False,False,False,False,False,False
261,62411,51685,4247,41.6,0.147549,0.133813,0.140805,0.987521,0.003061,0.000000,...,False,False,False,False,False,False,False,False,False,False
262,63011,88561,38305,43.7,0.122410,0.121072,0.121707,0.891711,0.024253,0.001410,...,False,False,False,False,False,False,False,False,False,False
263,63104,47816,20320,32.5,0.273755,0.315075,0.295472,0.497982,0.461220,0.003051,...,False,False,False,False,False,False,False,False,False,False
264,78735,94375,16948,38.5,0.244401,0.181269,0.211706,0.868598,0.031331,0.001829,...,False,False,False,False,False,False,False,False,False,False
265,90057,29332,48302,33.3,0.275218,0.217546,0.248747,0.266842,0.045402,0.008757,...,False,False,False,False,False,False,False,False,False,False
266,90061,36094,27203,29.1,0.204289,0.211410,0.208139,0.323935,0.354483,0.005992,...,False,False,False,False,False,False,False,False,False,False
267,91011,158281,20679,44.3,0.115121,0.105047,0.110015,0.643938,0.003337,0.000000,...,False,False,False,False,False,False,False,False,False,False

In [55]:
for c_index in acs5_df_4.loc[:, '122':'14581']:
    print("Store " + c_index + " delivers to " + str(np.sum(acs5_df_3[c_index])) + " ACS ZIP codes.")

Store 122 delivers to 28 ACS ZIP codes.
Store 123 delivers to 2 ACS ZIP codes.
Store 10465 delivers to 11 ACS ZIP codes.
Store 11834 delivers to 15 ACS ZIP codes.
Store 10674 delivers to 27 ACS ZIP codes.
Store 10766 delivers to 19 ACS ZIP codes.
Store 10783 delivers to 0 ACS ZIP codes.
Store 12294 delivers to 15 ACS ZIP codes.
Store 12340 delivers to 25 ACS ZIP codes.
Store 12896 delivers to 6 ACS ZIP codes.
Store 14383 delivers to 0 ACS ZIP codes.
Store 12086 delivers to 4 ACS ZIP codes.
Store 13604 delivers to 0 ACS ZIP codes.
Store 10688 delivers to 16 ACS ZIP codes.
Store 11467 delivers to 12 ACS ZIP codes.
Store 11549 delivers to 4 ACS ZIP codes.
Store 12168 delivers to 11 ACS ZIP codes.
Store 12359 delivers to 23 ACS ZIP codes.
Store 12601 delivers to 19 ACS ZIP codes.
Store 13289 delivers to 0 ACS ZIP codes.
Store 13210 delivers to 13 ACS ZIP codes.
Store 11409 delivers to 0 ACS ZIP codes.
Store 10584 delivers to 0 ACS ZIP codes.
Store 14593 delivers to 0 ACS ZIP codes.
Store 14581 delivers to 0 ACS ZIP codes.

In [68]:
#testing ZIP match
delv_zip_df_3 = delv_zip_df
delv_zip_df_3.head()

  StoreID            City State    Zip StoreID_Zip
0     122         CHICAGO    IL  60655   122_60655
1     122     BLUE ISLAND    IL  60452   122_60452
2     122         CHICAGO    IL  60803   122_60803
3     122  EVERGREEN PARK   NaN  60805   122_60805
4     122     BLUE ISLAND    IL  60406   122_60406

In [90]:
delv_zip_of_store = delv_zip_df_3['Zip'].loc[delv_zip_df_3['StoreID'] == '14383']
delv_zip_of_store_list = delv_zip_df_3['Zip'].loc[delv_zip_df_3['StoreID'] == '14383'].tolist()

In [92]:
np.sum(delv_zip_of_store.isin(valid_zip_list_acs))

30

In [89]:
np.sum(valid_zip_list_acs.isin(delv_zip_of_store_list))

30

In [37]:
valid_zip_list_acs = acs5_df_4['ZCTA (~ZIP)']
valid_zip_list_acs

0      02109
1      02130
2      02210
3      07054
4      07920
5      07974
6      08536
7      15238
8      19067
9      19112
10     21028
11     21901
12     22193
13     27377
14     27703
15     28202
16     30144
17     43612
18     46017
19     46033
20     46221
21     46303
22     46307
23     46310
24     46311
25     46312
26     46319
27     46320
28     46321
29     46322
       ...
238    60649
239    60651
240    60652
241    60653
242    60654
243    60655
244    60657
245    60659
246    60661
247    60707
248    60803
249    60804
250    60805
251    60827
252    60901
253    60914
254    60915
255    60950
256    60951
257    60964
258    61054
259    61516
260    62324
261    62411
262    63011
263    63104
264    78735
265    90057
266    90061
267    91011
Name: ZCTA (~ZIP), Length: 268, dtype: object

In [38]:
store_list = acs5_df_4.loc[:, '122':'14581'].columns.values.tolist()
store_list

['122',
 '123',
 '10465',
 '11834',
 '10674',
 '10766',
 '10783',
 '12294',
 '12340',
 '12896',
 '14383',
 '12086',
 '13604',
 '10688',
 '11467',
 '11549',
 '12168',
 '12359',
 '12601',
 '13289',
 '13210',
 '11409',
 '10584',
 '14593',
 '14581']

In [40]:
#https://stackoverflow.com/questions/40973687/create-new-dataframe-in-pandas-with-dynamic-names-also-add-new-column
store_df_dict = {}

for store in store_list:

    store_df_name = "acs5_df_4_store_" + store
    store_df = acs5_df_4.loc[acs5_df_4[store] == True]
    store_df_dict[store_df_name] = store_df

store_df_dict

{'acs5_df_4_store_122':     ZCTA (~ZIP)  Median HH Income (12 mo)  Total Population   Median Age  \
 0         02109                    117344              4015         32.9
 1         02130                     79419             39316         33.9
 2         02210                    155313              2461         35.5
 3         07054                     83936             29555         40.4
 4         07920                    132417             26949         44.0
 5         07974                    145607             12110         40.1
 6         08536                     95533             20180         34.8
 7         15238                     84038             13329         49.8
 8         19067                    100455             51628         43.1
 9         19112                -666666666                 0 -666666666.0
 10        21028                    105234              3043         48.1
 11        21901                     70983             18326         39.0
 12        22193                     93470             82290         33.5
 13        27377                     57519              7562         40.2
 14        27703                     57412             47381         33.6
 15        28202                     84688             11993         30.3
 16        30144                     62411             54078         30.6
 17        43612                     40996             29905         33.3
 18        46017                     48961              5800         44.8
 19        46033                    119906             37873         40.4
 20        46221                     43395             26177         33.2
 21        46303                     64835             14375         36.1
 195       60601                    103735             13695         38.3
 196       60602                     85313              1252         26.3
 197       60603                    140500              1029         26.3
 198       60604                    150125               619         44.6
 207       60613                     73810             49519         32.1
 265       90057                     29332             48302         33.3

      22 - 34 yo (% Pop M)  22 - 34 yo (% Pop F)  22 - 34 yo (% Total)  \
 0                0.474126              0.433295              0.456289
 1                0.329697              0.324037              0.326610
 2                0.429275              0.419231              0.425030
 3                0.197418              0.197374              0.197395
 4                0.081701              0.087157              0.084604
 5                0.111888              0.110092              0.110983
 6                0.232041              0.219203              0.225322
 7                0.095298              0.097848              0.096631
 8                0.145831              0.133045              0.139362
 9                     NaN                   NaN                   NaN
 10               0.149455              0.137466              0.143608
 11               0.162123              0.166047              0.164138
 12               0.186939              0.169097              0.178005
 13               0.238728              0.170648              0.201798
 14               0.206308              0.237871              0.222895
 15               0.525167              0.439901              0.487785
 16               0.210990              0.194241              0.202504
 17               0.199104              0.219250              0.209330
 18               0.142665              0.134371              0.138621
 19               0.104839              0.105879              0.105379
 20               0.192108              0.240580              0.217023
 21               0.167616              0.146240              0.156939
 195              0.331433              0.296707              0.314494
 196              0.470588              0.468591              0.469649
 197              0.320628              0.162950              0.231293
 198              0.305921              0.406349              0.357027
 207              0.432964              0.412296              0.422666
 265              0.275218              0.217546              0.248747

      Race-W (% Total)  Race-B (% Total)  Race-N (% Total)  ...    11549  \
 0            0.870984          0.033624          0.000000  ...    False
 1            0.654136          0.119442          0.002416  ...    False
 2            0.889882          0.034945          0.000000  ...    False
 3            0.541803          0.049332          0.002504  ...    False
 4            0.778322          0.016810          0.000000  ...    False
 5            0.851858          0.007432          0.002973  ...    False
 6            0.333944          0.070466          0.009613  ...    False
 7            0.876510          0.012529          0.000000  ...    False
 8            0.838247          0.069865          0.000407  ...    False
 9                 NaN               NaN               NaN  ...    False
 10           0.897470          0.028590          0.000000  ...    False
 11           0.906144          0.054840          0.006766  ...    False
 12           0.494252          0.261575          0.004849  ...    False
 13           0.704576          0.249537          0.007141  ...    False
 14           0.387497          0.492138          0.008843  ...    False
 15           0.686400          0.216043          0.004836  ...    False
 16           0.675913          0.210400          0.003107  ...    False
 17           0.766895          0.156027          0.000669  ...    False
 18           0.971379          0.012759          0.000000  ...    False
 19           0.907190          0.018985          0.000000  ...    False
 20           0.883944          0.049968          0.007831  ...    False
 21           0.923896          0.003896          0.001391  ...    False
 195          0.731070          0.077985          0.004308  ...    False
 196          0.732428          0.023962          0.000799  ...    False
 197          0.599611          0.032070          0.000000  ...    False
 198          0.615509          0.045234          0.000000  ...    False
 207          0.827824          0.058442          0.003090  ...    False
 265          0.266842          0.045402          0.008757  ...    False

      12168  12359  12601  13289  13210  11409  10584  14593  14581
 0    False  False  False  False  False  False  False  False  False
 1    False  False  False  False  False  False  False  False  False
 2    False  False  False  False  False  False  False  False  False
 3    False  False  False  False  False  False  False  False  False
 4    False  False  False  False  False  False  False  False  False
 5    False  False  False  False  False  False  False  False  False
 6    False  False  False  False  False  False  False  False  False
 7    False  False  False  False  False  False  False  False  False
 8    False  False  False  False  False  False  False  False  False
 9    False  False  False  False  False  False  False  False  False
 10   False  False  False  False  False  False  False  False  False
 11   False  False  False  False  False  False  False  False  False
 12   False  False  False  False  False  False  False  False  False
 13   False  False  False  False  False  False  False  False  False
 14   False  False  False  False  False  False  False  False  False
 15   False  False  False  False  False  False  False  False  False
 16   False  False  False  False  False  False  False  False  False
 17   False  False  False  False  False  False  False  False  False
 18   False  False  False  False  False  False  False  False  False
 19   False  False  False  False  False  False  False  False  False
 20   False  False  False  False  False  False  False  False  False
 21   False  False  False  False  False  False  False  False  False
 195  False  False  False  False  False  False  False  False  False
 196  False  False  False  False  False  False  False  False  False
 197  False  False  False  False  False  False  False  False  False
 198  False  False  False  False  False  False  False  False  False
 207  False  False  False  False  False  False  False  False  False
 265  False  False  False  False  False  False  False  False  False

 [28 rows x 38 columns],
 'acs5_df_4_store_123':     ZCTA (~ZIP)  Median HH Income (12 mo)  Total Population  Median Age  \
 252       60901                     42391             36150        36.2
 254       60915                     54855             10315        33.8

      22 - 34 yo (% Pop M)  22 - 34 yo (% Pop F)  22 - 34 yo (% Total)  \
 252              0.182075              0.167569              0.174661
 254              0.236072              0.237065              0.236549

      Race-W (% Total)  Race-B (% Total)  Race-N (% Total)  ...    11549  \
 252          0.644869          0.296459          0.004398  ...    False
 254          0.920213          0.028405          0.000000  ...    False

      12168  12359  12601  13289  13210  11409  10584  14593  14581
 252  False  False  False  False  False  False  False  False  False
 254  False  False  False  False  False  False  False  False  False

 [2 rows x 38 columns],
 'acs5_df_4_store_10465':     ZCTA (~ZIP)  Median HH Income (12 mo)  Total Population  Median Age  \
 133       60453                     58652             56791        40.8
 134       60455                     52568             16421        38.0
 135       60456                     42383              4343        45.4
 136       60457                     61708             13858        38.9
 137       60458                     48700             14887        31.2
 139       60460                     59125              1246        42.5
 140       60461                     99583              4738        52.6
 149       60472                     30574              5226        36.9
 157       60484                     47248              6866        31.0
 162       60504                     74426             38019        32.8
 164       60513                     75336             18966        39.2

      22 - 34 yo (% Pop M)  22 - 34 yo (% Pop F)  22 - 34 yo (% Total)  \
 133              0.178399              0.181682              0.180099
 134              0.159503              0.161895              0.160770
 135              0.148958              0.164259              0.157495
 136              0.179879              0.169960              0.175061
 137              0.248440              0.235865              0.241822
 139              0.117647              0.101382              0.109149
 140              0.108231              0.133123              0.121570
 149              0.198633              0.154261              0.176617
 157              0.209820              0.178980              0.193708
 162              0.202162              0.226366              0.214761
 164              0.184650              0.138334              0.159812

      Race-W (% Total)  Race-B (% Total)  Race-N (% Total)  ...    11549  \
 133          0.818035          0.070909          0.001550  ...    False
 134          0.858717          0.039401          0.000000  ...    False
 135          0.960857          0.003684          0.000000  ...    False
 136          0.912686          0.040410          0.000000  ...    False
 137          0.722039          0.183180          0.000537  ...    False
 139          0.998395          0.000000          0.001605  ...    False
 140          0.238497          0.724778          0.000000  ...    False
 149          0.060850          0.913318          0.002105  ...    False
 157          0.079959          0.863530          0.000000  ...    False
 162          0.641679          0.126121          0.002420  ...    False
 164          0.874249          0.048877          0.007013  ...    False

      12168  12359  12601  13289  13210  11409  10584  14593  14581
 133  False  False  False  False  False  False  False  False  False
 134  False  False  False  False  False  False  False  False  False
 135  False  False  False  False  False  False  False  False  False
 136  False  False  False  False  False  False  False  False  False
 137  False  False  False  False  False  False  False  False  False
 139  False  False  False  False  False  False  False  False  False
 140  False  False  False  False  False  False  False  False  False
 149  False  False  False  False  False  False  False  False  False
 157  False  False  False  False  False  False  False  False  False
 162  False  False  False  False  False  False  False  False  False
 164  False  False  False  False  False  False  False  False  False

 [11 rows x 38 columns],
 'acs5_df_4_store_11834':     ZCTA (~ZIP)  Median HH Income (12 mo)  Total Population  Median Age  \
 213       60619                     32024             62822        39.1
 214       60620                     32401             69299        39.6
 215       60621                     20150             31383        31.2
 216       60622                     79085             54467        31.8
 217       60623                     30048             88137        29.3
 218       60624                     22160             38134        28.7
 219       60625                     59601             79157        34.0
 220       60626                     36978             50090        33.9
 221       60628                     35654             68077        37.9
 222       60629                     41471            115104        30.4
 223       60630                     67469             57627        38.6
 224       60631                     79458             28238        43.3
 247       60707                     55513             43451        39.2
 249       60804                     42345             83972        28.7
 250       60805                     65554             19849        40.0

      22 - 34 yo (% Pop M)  22 - 34 yo (% Pop F)  22 - 34 yo (% Total)  \
 213              0.175646              0.152579              0.162714
 214              0.168272              0.165878              0.166943
 215              0.189411              0.203370              0.197145
 216              0.415030              0.395863              0.405860
 217              0.200802              0.198342              0.199553
 218              0.179937              0.185060              0.182645
 219              0.269169              0.268597              0.268883
 220              0.265387              0.262662              0.263985
 221              0.154886              0.163050              0.159422
 222              0.200959              0.200618              0.200784
 223              0.187696              0.174684              0.181096
 224              0.168306              0.154087              0.160741
 247              0.184184              0.162612              0.172838
 249              0.208225              0.216514              0.212285
 250              0.154552              0.124427              0.138647

      Race-W (% Total)  Race-B (% Total)  Race-N (% Total)  ...    11549  \
 213          0.013292          0.967368          0.000271  ...    False
 214          0.013507          0.965988          0.003550  ...    False
 215          0.016474          0.952873          0.002454  ...    False
 216          0.744084          0.079277          0.002882  ...    False
 217          0.433076          0.320263          0.003937  ...    False
 218          0.027744          0.932659          0.001128  ...    False
 219          0.650201          0.044645          0.001946  ...    False
 220          0.611300          0.242364          0.003035  ...    False
 221          0.040630          0.941801          0.000749  ...    False
 222          0.357720          0.201930          0.004665  ...    False
 223          0.717025          0.014177          0.002481  ...    False
 224          0.913662          0.009809          0.000177  ...    False
 247          0.718004          0.100343          0.007204  ...    False
 249          0.443934          0.039918          0.008503  ...    False
 250          0.709154          0.237846          0.000000  ...    False

      12168  12359  12601  13289  13210  11409  10584  14593  14581
 213  False  False  False  False  False  False  False  False  False
 214  False  False  False  False  False  False  False  False  False
 215  False  False  False  False  False  False  False  False  False
 216  False  False  False  False  False  False  False  False  False
 217  False  False  False  False  False  False  False  False  False
 218  False  False  False  False  False  False  False  False  False
 219  False  False  False  False  False  False  False  False  False
 220  False  False  False  False  False  False  False  False  False
 221  False  False  False  False  False  False  False  False  False
 222  False  False  False  False  False  False  False  False  False
 223  False  False  False  False  False  False  False  False  False
 224  False  False  False  False  False  False  False  False  False
 247  False  False  False  False  False  False  False  False  False
 249  False  False  False  False  False  False  False  False  False
 250  False  False  False  False  False  False  False  False  False

 [15 rows x 38 columns],
 'acs5_df_4_store_10674':     ZCTA (~ZIP)  Median HH Income (12 mo)  Total Population  Median Age  \
 117       60436                     49781             18714        33.2
 118       60437                     39167               138        56.2
 119       60438                     49881             28987        40.8
 120       60439                     92926             23373        43.7
 121       60440                     69680             53285        34.4
 122       60441                     73785             35556        36.4
 123       60442                     84458             10226        34.4
 124       60443                     72336             21297        40.7
 125       60444                     71705              1778        35.2
 126       60445                     58037             26201        40.9
 127       60446                     71042             40018        32.6
 128       60447                     73182             14334        33.7
 129       60448                     96654             25604        40.8
 130       60449                     76648              9187        42.9
 131       60451                    101580             34921        38.7
 132       60452                     75018             28494        39.9
 138       60459                     54862             29047        37.6
 185       60552                     75962              4696        44.7
 186       60555                     80959             13663        37.4
 187       60556                     69132              1729        36.7
 188       60559                     57971             24772        40.8
 189       60561                     84951             23042        46.2
 190       60563                     81162             36696        36.4
 191       60564                    140144             42423        38.7
 193       60585                    122816             23604        34.5
 194       60586                     90792             47244        31.3
 267       91011                    158281             20679        44.3

      22 - 34 yo (% Pop M)  22 - 34 yo (% Pop F)  22 - 34 yo (% Total)  \
 117              0.222967              0.190049              0.206316
 118              0.084507              0.074627              0.079710
 119              0.156250              0.141998              0.148480
 120              0.121397              0.144491              0.133145
 121              0.183483              0.181573              0.182528
 122              0.200922              0.163301              0.182585

In [43]:
#example of one store's ZIP code info
store_df_dict['acs5_df_4_store_10766']

,ZCTA (~ZIP),Median HH Income (12 mo),Total Population,Median Age,22 - 34 yo (% Pop M),22 - 34 yo (% Pop F),22 - 34 yo (% Total),Race-W (% Total),Race-B (% Total),Race-N (% Total),...,11549,12168,12359,12601,13289,13210,11409,10584,14593,14581
82,60164,60000,21700,36.0,0.180959,0.167942,0.174608,0.716267,0.032995,0.010230,...,False,False,False,False,False,False,False,False,False,False
83,60165,40717,4936,30.8,0.189817,0.227731,0.208874,0.533023,0.020259,0.000000,...,False,False,False,False,False,False,False,False,False,False
84,60175,126281,26334,40.6,0.127300,0.102664,0.115782,0.936318,0.014278,0.002392,...,False,False,False,False,False,False,False,False,False,False
85,60181,70000,28667,37.6,0.184760,0.190108,0.187393,0.768549,0.056267,0.002686,...,False,False,False,False,False,False,False,False,False,False
86,60189,93222,31559,40.4,0.152676,0.166575,0.159859,0.862163,0.052093,0.000222,...,False,False,False,False,False,False,False,False,False,False
87,60201,70497,43056,30.8,0.204205,0.158388,0.180254,0.685619,0.132757,0.001185,...,False,False,False,False,False,False,False,False,False,False
88,60301,70040,2329,45.2,0.261287,0.191770,0.222842,0.604122,0.261915,0.000000,...,False,False,False,False,False,False,False,False,False,False
89,60302,79167,32258,39.6,0.177817,0.171934,0.174747,0.657573,0.221216,0.000589,...,False,False,False,False,False,False,False,False,False,False
90,60304,93903,17402,37.7,0.159742,0.157404,0.158488,0.702505,0.186013,0.000517,...,False,False,False,False,False,False,False,False,False,False
91,60305,103622,11217,40.7,0.080138,0.100805,0.090666,0.818133,0.067398,0.000000,...,False,False,False,False,False,False,False,False,False,False
92,60401,60987,7655,45.2,0.153151,0.109701,0.131679,0.978837,0.007315,0.002874,...,False,False,False,False,False,False,False,False,False,False
94,60403,50200,18267,38.3,0.205691,0.170982,0.188810,0.701429,0.173811,0.001807,...,False,False,False,False,False,False,False,False,False,False
96,60406,41056,24629,35.2,0.158731,0.199852,0.179057,0.425312,0.266840,0.007836,...,False,False,False,False,False,False,False,False,False,False
99,60409,40942,37250,36.2,0.197170,0.161967,0.177530,0.214497,0.739383,0.003812,...,False,False,False,False,False,False,False,False,False,False
100,60410,88039,12656,36.6,0.128861,0.131924,0.130373,0.925648,0.006479,0.001659,...,False,False,False,False,False,False,False,False,False,False
101,60411,40283,58630,33.9,0.201657,0.172278,0.186253,0.332390,0.509773,0.001808,...,False,False,False,False,False,False,False,False,False,False
104,60419,44257,22796,35.9,0.200247,0.166721,0.182181,0.063871,0.905905,0.000790,...,False,False,False,False,False,False,False,False,False,False
107,60423,97703,30907,42.7,0.092798,0.107184,0.100107,0.895978,0.044100,0.002459,...,False,False,False,False,False,False,False,False,False,False
210,60616,42776,52580,36.2,0.269445,0.248833,0.258615,0.276512,0.255002,0.001712,...,False,False,False,False,False,False,False,False,False,False

### Population Characteristics by Store (Weighted)

In [44]:
#http://pbpython.com/weighted-average.html
def weighted_average(dataframe, avg_name, weight_name):
    d = dataframe[avg_name]
    w = dataframe[weight_name]
    try:
        return (d * w).sum() / w.sum()
    except ZeroDivisionError:
        return d.mean()

In [46]:
characteristics_to_weight = acs5_df_4.loc[:, 'Median HH Income (12 mo)':'Race-H (% Total)'].columns.values.tolist()
characteristics_to_weight

['Median HH Income (12 mo)',
 'Total Population',
 'Median Age',
 '22 - 34 yo (% Pop M)',
 '22 - 34 yo (% Pop F)',
 '22 - 34 yo (% Total)',
 'Race-W (% Total)',
 'Race-B (% Total)',
 'Race-N (% Total)',
 'Race-A (% Total)',
 'Race-H (% Total)']

In [47]:
store_df_dict_keys = store_df_dict.keys()
store_df_dict_keys = list((store_df_dict_keys))
store_df_dict_keys

['acs5_df_4_store_122',
 'acs5_df_4_store_123',
 'acs5_df_4_store_10465',
 'acs5_df_4_store_11834',
 'acs5_df_4_store_10674',
 'acs5_df_4_store_10766',
 'acs5_df_4_store_10783',
 'acs5_df_4_store_12294',
 'acs5_df_4_store_12340',
 'acs5_df_4_store_12896',
 'acs5_df_4_store_14383',
 'acs5_df_4_store_12086',
 'acs5_df_4_store_13604',
 'acs5_df_4_store_10688',
 'acs5_df_4_store_11467',
 'acs5_df_4_store_11549',
 'acs5_df_4_store_12168',
 'acs5_df_4_store_12359',
 'acs5_df_4_store_12601',
 'acs5_df_4_store_13289',
 'acs5_df_4_store_13210',
 'acs5_df_4_store_11409',
 'acs5_df_4_store_10584',
 'acs5_df_4_store_14593',
 'acs5_df_4_store_14581']

In [48]:
for store_df_key in store_df_dict_keys:
    print(str(store_df_key) + " has " + str(store_df_dict[store_df_key]['ZCTA (~ZIP)'].count()) + " ZIPs")

acs5_df_4_store_122 has 28 ZIPs
acs5_df_4_store_123 has 2 ZIPs
acs5_df_4_store_10465 has 11 ZIPs
acs5_df_4_store_11834 has 15 ZIPs
acs5_df_4_store_10674 has 27 ZIPs
acs5_df_4_store_10766 has 19 ZIPs
acs5_df_4_store_10783 has 0 ZIPs
acs5_df_4_store_12294 has 15 ZIPs
acs5_df_4_store_12340 has 25 ZIPs
acs5_df_4_store_12896 has 6 ZIPs
acs5_df_4_store_14383 has 0 ZIPs
acs5_df_4_store_12086 has 4 ZIPs
acs5_df_4_store_13604 has 0 ZIPs
acs5_df_4_store_10688 has 16 ZIPs
acs5_df_4_store_11467 has 12 ZIPs
acs5_df_4_store_11549 has 4 ZIPs
acs5_df_4_store_12168 has 11 ZIPs
acs5_df_4_store_12359 has 23 ZIPs
acs5_df_4_store_12601 has 19 ZIPs
acs5_df_4_store_13289 has 0 ZIPs
acs5_df_4_store_13210 has 13 ZIPs
acs5_df_4_store_11409 has 0 ZIPs
acs5_df_4_store_10584 has 0 ZIPs
acs5_df_4_store_14593 has 0 ZIPs
acs5_df_4_store_14581 has 0 ZIPs